@import "./styles/mixins.scss";
@import "./styles/variables.scss";
@import "./styles/reset.scss";

.App {
  @include displayFlex(nowrap, flex-start, flex-start, column);
  height: 100vh;
  padding: 3rem 2rem;
}

.filters {
  display: flex;
  align-items: center;
  justify-self: space-between;
  width: 100vw;
}

.MuiDateCalendar-root {
  height: auto !important;
}

.MuiTableRow-root {
  vertical-align: baseline !important;
  max-height: min-content !important;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.MuiTableCell-root {
  vertical-align: middle !important;
}
